body{
    direction: rtl;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
div{
    display: block;
}
.header-con{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    padding: 12px;
    height: 50px; 
}
/* .divi{
    border: 1px solid black;
} */
.search-div{
    display: flex;
    align-items: center; 
}
a:hover{
    cursor: pointer;
}
img:hover{
    cursor: pointer;
}
.img-table{
 width: 200;   
}
